@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

body {
  font-family: "Fira Code", monospace;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow-x: hidden;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 200px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  /* left: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.5), #0a0a0a); */
}

.logos:after {
  /* right: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), #0a0a0a); */
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  align-items: center;
  animation: slide 25s linear infinite;
}

.logos-slide svg {
  display: inline;
  margin: 0 20px;
}

@media screen and (max-width: 768px) {
  .logos:before,
  .logos:after {
    width: 100px;
  }
}
